.page {
    padding: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 648px) {
    .page {
        height: fit-content;
    }  
}