
.ChoiceBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    justify-content: center;
    transition: background 0.1s ease-in ;
}

    .ChoiceBtn-img {
        width: 100px;
    }

    .ChoiceBtn-text {

    }

.ChoiceBtn:hover {
    background: lightgrey;
}

@media (max-width: 648px) {
    .ChoiceBtn {
        width: 110px;
    } 
}