
.header {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px darkgrey;
}

.header-img {
    height: 150px;
}