
.winscreen-img {
    width: 300px;
}

.winscreen-container {
    text-align: center;
}

.winscreen-btn {
    padding: 10px 15px;
}

@media (max-width: 648px) {
    .winscreen-img {
        width: 200px;
    }  
}